/*Global Styles*/
body {
	background-color: var(--bg-primary);
	font-family: var(--main-font);
}

.price-grid__section {
	min-height: 100vh;
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 80px 40px;
}


/*Font Styles*/
h1 {
	font-size: 1.4rem;
	font-weight: 700;
	color: var(--content-main);
	padding-bottom: 25px;
}

h2 {
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--content-tertiary);
	padding-bottom: 15px;
}

h3 {
	font-size: 1.1rem;
	font-weight: 700;
	color: var(--text-primary);
	padding-bottom: 20px;
}

.grid-top__holder p {
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-secondary);
	line-height: 1.6;
}

.price__text {
	font-size: 1.1rem;
	font-weight: 400;
	color: #ffffff80;
	vertical-align:middle;
	padding-bottom: 10px;
    display: inline-block;
}

.price-amount__text {
	font-size: 2rem;
	font-weight: 700;
	color: var(--text-primary);
	vertical-align:middle;
	padding-right: 10px;
}

.price-info__text {
	font-size: 1rem;
	font-weight: 400;
	color: var(--text-primary);
	display: block;
}

li {
	font-size: 0.875rem;
	font-weight: 400;
	color: #ffffffab;
}

/*Price Grid Section*/
.grid__holder {
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow: 0px 22px 25px 0px rgba(152,166,189,0.29);
	-moz-box-shadow: 0px 22px 25px 0px rgba(152,166,189,0.29);
	box-shadow: 0px 22px 25px 0px rgba(152,166,189,0.29);
}

.grid-top__holder {
	background-color: var(--text-primary);
	padding: 30px;
}

.sign-up__box {
	background-color: var(--content-main);
	padding: 30px;
}

.why-us__box {
	background-color: var(--content-secondary);
	padding: 30px;
}

.button a {
	width: 100%;
	display: block;
	text-align: center;
	padding: 10px 0px;
	background-color: var(--content-tertiary);
	color: var(--text-primary);
	font-weight: 700;
	font-size: 1.1rem;
	border-radius: 5px;
	margin-left: 0;
	margin-top: 30px;
	max-width: 280px;
}

/*Media Queries*/
@media screen and (min-width: 601px) {
	.price-grid__section {
		max-width: 800px;
	}

	.grid-top__holder, .sign-up__box, .why-us__box {
		padding: 40px;
	}

	.grid-bottom__holder {
		display: flex;
	}

	.sign-up__box, .why-us__box {
		flex: 0 1 50%;
		width: 100%;
	}
}
